#app {
        min-width: 365px;
        padding: $gutter-regular;
        font-family: montserrat;
        color: $color-main;
        background-image: $gradient-from-dark-brown-to-middle-brown;

        .title-h1 {
                width: 75%;
                font-size: $h1-size;
                margin-bottom: $gutter-regular;
        }

        .title-h2 {
                font-size: $h2-size;
                margin-bottom: $gutter-small;
        }

        p {
                margin: $gutter-regular 0;
                line-height: 1.4em;
                text-align: justify;
        }

        .source {
                font-style: italic;
                font-size: 0.75em;
        }

        .note {
                margin: 10px 0;
                font-size: 0.75em;
        }

        .danger {
                font-weight: bold;
                background-color: rgba(115, 0, 0, 0.7);
                color: rgb(2255, 61, 61);
        }
}