.global {

        .infos-block {

                margin-top: 4em;

                /*
                        .source // dans _body.scss
                */

                .quote {
                        font-style: italic;
                }

                .info-div {
                        margin-top: $gutter-extra-large;
                }

                //* Icônes
                .icon-title {
                        margin-left: 10px;
                }
        }
}